body{
    background: lightblue;
    margin: 0 25px;
}
img {
    height: 200px;
    margin: 20px;
    border-radius: 50% ;
}

h1{
    display: inline-block;
}

.btn-change {
    margin-top: 25px;
    margin-right: 25px;
}